<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
 $( "#datepicker" ).datepicker({
  minDate: new Date(MIN_DATE), 
  maxDate: new Date(MAX_DATE),
  showOn: "button",
  buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
  buttonImageOnly: true
 });
 
 $('#dctl').click(function() {
  $('#dtp').toggle();
  $('#date-arrow').toggleClass("arrow-down");
 });
});
</script>

 <%= javascript_tag "var MIN_DATE = " + @min.to_json %>
 <%= javascript_tag "var MAX_DATE = " + @max.to_json %>

<div id ="first-setion" class="section">
   <div>  
     <h2 style="display:inline-block;">Trending Topics as of <%= params[:date].strftime('%d-%m-%Y')%> </h2>
     <a href="#" id="dctl" style="padding-left=40px"> modify date <i class="arrow-left arrow" id="date-arrow"></i></a>
     <div id="dtp" style="display: none; padding: 15px 20px;">
      <form action="http://localhost:3000/" method="get">
       <label for="datepicker">Choose Date: </label><input type="text" id="datepicker" />
       <input type="submit" value="Go" />
      </form>
     </div>
   </div>
</div>

<div id="second-section" class="section">
    <div id="main-column" class="left">
        <div id="biggest-movers" class="left">
              <h3>Monthly Trends (<%= (params[:date]- 30.days).strftime('%d-%m-%Y') %> - <%= params[:date].strftime('%d-%m-%Y') %> )</h3>
              <% content_for :title, "Trending Topics: Powered by Qubole" %> 
              <% cache ({:page => params[:page] }) do %>
                  <%= render :partial => "movers"  %> 
              <% end %> <! --#cache -->   
              <BR>
              <BR>                                       
          </div> <!-- #biggest movers -->
    </div> <!-- #main column left -->
    

    <div id="side-column" class="right">
      <% cache 'rising' do %>
          <div id="rising-articles">
            <h3>Trending on <%= params[:date].strftime('%d-%m-%Y') %></h3>   
     
              <table id="rising">                  
                <% DailyTrend.find(:all, :limit =>  APP_CONFIG['sidebar_articles'] ,:conditions => ["date = ? and page_id NOT IN (?) and page_id NOT IN (select page_id from featured_pages)", params[:date], APP_CONFIG['blacklist']], :order => 'trend DESC').each_with_index do |rising, index| %>
                  <tr >
                  <td class="risingtitle"><p><%= link_to (index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1)).to_s + ". " + rising.page.title.truncate(35), rising.page, :class => "articlelink"  %></p><%= link_to image_tag(rising.page.sparkline(params[:date]).to_url, :alt => 'Recent Trend for ' + rising.page.title ) , rising.page %><BR>
                  <% unless APP_CONFIG['yahoo_boss_id'] == "REPLACEME" %>
                    <td  ><%= link_to image_tag(rising.page.picture, :alt => rising.page.title, :size =>rising.page.picture_size(70)), rising.page %></td>                    
                  <% end %>
                  </tr>
                <% end %>
              </table>

          </div> <!-- #rising -->
      <% end %> <! --#cache -->    
    </div>


    <div class="clear">
    </div>
    
</div> <!-- second-section -->
