<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- <title>Pages: <%= controller.action_name %></title> -->
    <title><%=h yield(:title) %></title>
  <META <%= yield(:robots) %>>
    <%= stylesheet_link_tag 'trends' %>
    <%= javascript_include_tag :application %> 
    
    <script type="text/javascript">
    window.onload = function() {
      document.getElementById('search_query').focus();
    }
    </script>    
<meta name="verify-v1" content=<%= APP_CONFIG['verify_v1'] %> >
</head>

<body>
  <div id="container">

    <div id="wrapper">

    	<div id="header">

            <div id="billboard">
            <h1><%= link_to "Wiki Topics Trends", "/", :class =>"dark" %></h1>                                            		            
                <h2>
                    Trending Wikipedia Topics, Served Fresh Daily.<br/>
                    <span>                 
                        Inspired  by <a href="http://www.datawrangling.com">Data Wrangling</a>
                    </span>
                </h2>
            </div> <!-- #billboard -->

            <div class="clear">
                <!-- Use this to enforce bottom -->
            </div>
    	</div> <!-- #header -->

    	<div id="content">
            <%= flash[:notice] %>

        <!-- Main site content -->
        <%= yield %>

        </div> <!-- content -->

    	<div id="footer">
    	
    	    <div class="left">
    	    
    	
    		 <%= link_to "About", { :controller => "about" } %> | &copy; Copyright 2013 <a href="http://www.qubole.com">Qubole</a> </div> 
    		 
    		 <!-- left -->
	    
            <br/>
            <br/>
            <br/>

    	</div>  <!-- #footer -->

    </div> <!-- #wrapper -->
  </div> <!-- #container -->
</body>
</html>
